.pending {
  display: flex;
  margin-top: 10px;

  &__input {
    border: none;
    font-size: 20px;
    flex-grow: 1;
  }

  &__button {
    border: none;
    background-color: purple;
    color: white;
    padding: 15px;
    width: 20%;
    cursor: pointer;
  }
}
